table { background: #cccccc; margin:1%;  }
th { padding: 1%; margin:1%; text-align:left; vertical-align:top; }
td {background: #ffffff;  padding: 1%; margin:1%; text-align:left; vertical-align:top;  }
h3 { font-size: 120%; margin:2%1%1%1%;}


